Repository voxpupuli/puppet-rhsm, pull requests merged in 2022-04, with the labels that each got.

#118 modulesync 5.2.0 / Drop EoL Puppet 5 support
  .fixtures.yml
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .puppet-lint.rc
  Dockerfile
  Gemfile
  Rakefile
  lib/facter/rhsm.rb
  lib/puppet/provider/rh_repo/redhat.rb
  lib/puppet/provider/rh_subscription/redhat.rb
  lib/puppet/type/rh_repo.rb
  lib/puppet/type/rh_subscription.rb
  metadata.json
  spec/classes/init_spec.rb
  spec/spec_helper.rb
Labels: backwards-incompatible

#121 Add way to configure the dnf/yum plugin
  README.md
  REFERENCE.md
  manifests/init.pp
  spec/classes/init_spec.rb
  templates/ini.conf.epp
Labels: enhancement

#122 Release 5.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
