Repository voxpupuli/puppet-rhsm, pull requests merged in 2022-07, with the labels that each got.

#124 Ensure dnf/yum plugin config has read.
  manifests/init.pp
  spec/classes/init_spec.rb
Labels: bug

#125 When purging unmanaged repos, this file needs to be known to puppet.
  manifests/init.pp
  spec/classes/init_spec.rb
Labels: enhancement

#126 Release 5.1.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
